;sudo systemctl edit --force --full audioloader.service

[Unit]
Description="uWSGI server instance for audioloader"
After=network.target

[Service]
User={{username}}
Group={{groupname}}
;WorkingDirectory=/var/www/audioloader
;Environment=FLASK_ENV=
ExecStart=/var/www/audioloader/start-uwsgi.sh

[Install]
WantedBy=multi-user.target
