APScheduler
certifi
chardet
click
dnspython
Flask
Flask-Cors
Flask-WTF
idna
itsdangerous
Jinja2
MarkupSafe
monotonic
python-dateutil
python-dotenv
python-mpd2
pytz
redis
requests
six
tzlocal
urllib3
uWSGI
Werkzeug
WTForms
nested-lookup
upnpclient
pyradios
python-mpd2
