    <div class="modal-header" id="settings">
      <h4 style="text-align: center;" class="modal-title">Settings</h4>

    </div>
    <div class="modal-body">

      MPD socket: <input id="mpd_socket" class="form-control" placeholder="/var/run/mpd.socket" name="mpd_socket" [value]="mpd_socket" (input)="mpd_socket = $event.target.value; update('mpd_socket')" onfocus="this.select();"><br/>
      Stream from (in MPD config): <input id="stream" class="form-control" placeholder="http://box.lxs.cloud:18080" name="stream" [value]="stream" (input)="stream = $event.target.value; update('stream')" onfocus="this.select();"><br/>
      Client: <input id="client_id" class="form-control" placeholder="x" name="client_id" [value]="client_id" (input)="client_id = $event.target.value; update('client_id')" onfocus="this.select();"><br/>
      Kodi server: <input id="target" class="form-control" placeholder="kodi" name="target" [value]="target" (input)="target = $event.target.value; update('target')" onfocus="this.select();"><br/><br/>
      Log level: <input id="log" class="form-control" placeholder="debug" name="log" [value]="log" (input)="log = $event.target.value; update('log')" onfocus="this.select();"><br/><br/>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn " (click)="activeModal.dismissAll('Close click')">Close</button>
    </div>
