.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  /* max-width: 40rem; */
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.col-md-1 {
  padding-right: 3px;
  padding-left: 3px;

}

 .col-sm-1 {
  padding-right: 3px;
  padding-left: 3px;

}


.album-cover-img {
    border-radius: 10%;
}




input.ng-invalid {
  background-color: pink;
}
input.ng-valid {
  background-color: lightgreen;
}

.mediabutton {
  width: 20px;

}

.invert_colors {
  filter: invert(90%) sepia(40%) brightness(118%) contrast(119%);

}

.dash-icon {
  font-size: 1em;
  height: 1em !important;
  width: 1em !important;
}
.navbar-icon {


}
.new-set-icon {
font-size: 6.5em;
height: 6.5em !important;
width: 6.5em !important;
}

.outer_shadow {
    height: 135px;
    width: 135px;
    margin: 2px 2px 2px 2px;
}
.album-cover-frame {
    /*background: url("vinyl.png") no-repeat scroll transparent;*/
    height: 128px;
    width: 128px;
    margin: 2px 0 2px 2px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.album-cover-img {
    border-radius: 10%;
    width: 122px;
}

.albumlink {

    /* color: #1a1713 !important; font-size: 0.83em; */
    /*color: #454857f0 !important;*/
    color: #000 !important;
    /*margin: 3px 2px 2px 2px;*/

}



a.albumlink {


}

.albumlink a:link {
    text-decoration: none !important;
    color: #454857f0  !important;
}


.inline-block {
    display: inline-block;
    position: relative;
    /*  float: left; */

}
.album-cover {
    margin: 1px;
    text-align: left;
    vertical-align: top;
    background-color: #FCFCFC;
    color:  #1a1713 !important;
    border-radius: 5px;
    height: 200px;
    width: 132px;
    max-width: 132px;
    overflow:hidden;
    border-color: #F1F1F5;
    border-width: 1.5px;
    border-style: solid;

}


.album-cover:hover{
    background-color: #F1F1F5;
}

.album-title {
    word-wrap: break-word;
    width: 126px;

}


html {
  font-size: 14px;
}

@media (max-width: 1921px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1441px) {
  html {
    font-size: 14px;
  }
}


@media (max-width: 700px) {
  html {
    font-size: 14.5px;
  }
  .modal-dialog {
    max-width: 300px !important;
  }

}

.togglestar .togglestar-icon {
    color: #d87a7a5b;
    margin-right: 0px;
}

.play-icon {
    color: #5d7ab1;
}

div.hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
  text-align: center;
  margin-left: 10px;
  height: 0px;
  line-height: 0px;
  width: 100%;
}
