    <div class="modal-header" id="addPopup">
      <h5 style="text-align: center;" class="modal-title">Play {{name}}?</h5>

    </div>
    <div class="modal-body">
      <p style="text-align: center;"><img *ngIf="! url" src="{{ servicesBasePath }}/cover?directory={{ encoded }}" height="128" style="border-radius: 5px;" class="album-cover-img"/>
      <img *ngIf="favicon" src="{{ favicon }}" height="128" style="border-radius: 5px;" class="album-cover-img"/>
      </p>

      <p style="text-align: center;">
      <span *ngFor="let player of players"><mat-slide-toggle [checked]="!!player.load" (change)="updateLoad($event, player.location)">{{ player.name }}</mat-slide-toggle>&nbsp;&nbsp;</span></p>

    </div>
    <div class="modal-footer">

      <button type="button" ngbAutofocus class="btn btn-primary" (click)="addDir(name);activeModal.dismissAll('Close click')">Yes</button>
      <button type="button" class="btn " (click)="activeModal.dismissAll('Close click')">Cancel</button>
    </div>
