:host {
  display: block;
}


.py-5 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;

}

#div-randomset {

  padding-right: 5px !important;
  padding-left: 5px !important;

}


#div-history2 {

  padding-right: 5px !important;
  padding-left: 5px !important;

}


.mediabutton {
  width: 20px;

}

.invert_colors {
  filter: invert(90%) sepia(40%) brightness(118%) contrast(119%);

}
