:host {
  display: block;
}

.open-close-container {
  border: 1px solid #dddddd;
  margin-top: 1em;
  padding: 20px 20px 0px 20px;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
}


@media (min-width:0px;) and (max-width: 767px) {
   .navbar-collapse {
        padding-left: 200px;
   }
}

@media (min-width: 768px) {
 .navbar-collapse {
        padding-left: 0;
   }
  .navbar {
    padding-left: 4em;
    padding-right: 4em;

  }

}

.py-5 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;

}

#div-randomset {

  padding-right: 5px !important;
  padding-left: 5px !important;

}


#div-history2 {

  padding-right: 5px !important;
  padding-left: 5px !important;

}


.mediabutton {
  width: 20px;

}

.invert_colors {
  filter: invert(90%) sepia(40%) brightness(118%) contrast(119%);

}
