<app-toast aria-live="polite" aria-atomic="true"></app-toast>


<body>


<style>

.navbar-dark {
    background-color: #5D7AB1;
}

.nav-link {
    color: #fff;

}

.long {
    
}
.verylong {
    
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.long-and-truncated {
  flex: 1;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-parent {
  display: flex;
  align-items: center;
}

</style>

<nav class="navbar navbar-expand-lg navbar-dark">
<div class="container flex-parent">
    <a href="#" class="navbar-brand" (click)="showDir(dir)"><mat-icon aria-hidden="false" aria-label="fav" class="navbar-icon" title="folders" >folder_open</mat-icon></a>
    <a href="#" class="navbar-brand" (click)="showDash()"><mat-icon aria-hidden="false" aria-label="fav" class="navbar-icon" title="dashboard" >dashboard</mat-icon></a>
    <span class="navbar-brand flex-child long-and-truncated" ng-class="{'long': (currentsong['title_short'].length > 15), 'verylong': (currentsong['title_short'].length > 25)}"   [@loadingTrigger]="loading['currentsong'] ? 'loading' : 'normal'" title="{{ currentsong['artist'] }} - {{ currentsong['album'] }} ({{currentsong['track']}}) {{ currentsong['title'] }}" (click)="updateCurrentSong()">{{ currentsong['title_short'] }}</span>

    <a href="#" class="navbar-brand navbar-toggler" (click)="isMenuOpen = !isMenuOpen"><mat-icon aria-hidden="false" aria-label="fav" class="navbar-icon" >menu</mat-icon></a>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': isMenuOpen }">
    <form class="form-inline my-2 my-lg-0 ml-auto">
    
    <a href="#" (click)="openStream()" class="nav-item nav-link" *ngIf="currentsong['active']"><mat-icon aria-hidden="false" aria-label="fav" class="navbar-icon" title="load stream to kodi"  [@loadingTrigger]="loading['kodiload'] ? 'loading' : 'normal'">queue_music</mat-icon></a>
    
    <a href="#" (click)="stopStream()" class="nav-item nav-link" *ngIf="currentsong['active']"><mat-icon aria-hidden="false" aria-label="fav" class="navbar-icon" title="stop stream on kodi"  [@loadingTrigger]="loading['kodistop'] ? 'loading' : 'normal'">remove_from_queue</mat-icon></a>
    
    <a href="#" class="nav-item nav-link" *ngIf="currentsong['next_state']" (click)="sendCommand(currentsong['next_state'])"><mat-icon aria-hidden="false" aria-label="fav" class="navbar-icon" title="{{ currentsong['next_title'] }}" >{{ currentsong['next_icon'] }}</mat-icon></a>

    <a href="#" class="nav-item nav-link" *ngIf="currentsong['active']" (click)="sendCommand('stop')"><mat-icon aria-hidden="false" aria-label="fav" class="navbar-icon" title="stop"  [@loadingTrigger]="loading['stop'] ? 'loading' : 'normal'">stop</mat-icon></a>

    <a href="#" class="nav-item nav-link" *ngIf="!currentsong['consume']" (click)="sendCommand('prev')"><mat-icon aria-hidden="false" aria-label="fav" class="navbar-icon" title="prev"  [@loadingTrigger]="loading['prev'] ? 'loading' : 'normal'">fast_rewind</mat-icon></a>

    <a href="#" class="nav-item nav-link" *ngIf="currentsong['active']" (click)="sendCommand('next')"><mat-icon aria-hidden="false" aria-label="fav" class="navbar-icon" title="next"  [@loadingTrigger]="loading['next'] ? 'loading' : 'normal'">fast_forward</mat-icon></a>

    
        <input class="form-control mr-sm-2" type="search" aria-label="Search" placeholder="search..." name="lookfor" #lookforbox [value]="lookfor" (input)="lookfor = $event.target.value; searchItem($event.target.value)" onfocus="this.select();" onmouseup="return false;">

        <a href="#" class="nav-item nav-link"><mat-icon aria-hidden="false" aria-label="fav" class="navbar-icon" title="settings" (click)="openSettings()">settings</mat-icon></a>
    </form>

  </div>
</div>
</nav>
<main role="main">

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" >
        <ng-container *ngIf="!dash">
        <span *ngFor="let elem of path">/<a href="#" (click)="showDir(elem.dir)">{{ elem.name }}</a></span>&nbsp;&nbsp;
            <a href="#" class="togglestar albumlink" (click)="toggleFavourite(dir)"><mat-icon aria-hidden="false" aria-label="fav" *ngIf="favourite" class="dash-icon">favorite</mat-icon><mat-icon aria-hidden="false" aria-label="fav" *ngIf="!favourite" class="dash-icon">favorite_border</mat-icon></a>
        <a href="#" class="play" (click)="openModal(dir)" class="albumlink"><mat-icon aria-hidden="false" aria-label="fav" class="dash-icon">play_arrow</mat-icon></a>
        <span *ngIf="lookfor">&nbsp;&nbsp;|&nbsp;<a href="#" (click)="searchItem(lookfor)">{{ lookfor }}</a></span>

        <br/>
        <ng-container *ngIf="!showlist">
        <div style="max-width: 100px;" class="album-cover inline-block" *ngFor="let elem of list_dir" >
          <app-albumcell [album]="tree_dir[elem]" [servicesBasePath]="servicesBasePath" [mpd_port]="settings.mpd_port" [area]="active_area" (messageEvent)="processAlbumCellAction($event)"></app-albumcell>
        </div>
        </ng-container>
        <ng-container *ngIf="showlist">
        <span *ngFor="let initial of list_alpha">
          <b>{{ initial }}</b><br/>
        <span *ngFor="let elem of list_dir_alpha[initial]">
            <a href="#" id="togglestar" onclick="" title="mark" class="albumlink">☐</a>&nbsp;
            <a href="#" class="play" (click)="openModal(tree_dir[elem].name)" class="albumlink"><mat-icon aria-hidden="false" aria-label="fav" class="dash-icon">play_arrow</mat-icon></a>
              <a href="#" (click)="showDir(tree_dir[elem].name)" title="{{ tree_dir[elem].name }} ({{ tree_dir[elem].playhours }})" class="albumlink">{{ tree_dir[elem].title }} ({{ tree_dir[elem].playhours }})</a>
        </span>
        <br/>
        </span>
        </ng-container>

        <div id="files">
          <ng-container *ngIf="!dirs">
            <div class="album-cover-frame">
              <img  src="{{ servicesBasePath }}/cover?mpd_port={{ settings.mpd_port }}&directory={{ encoded }}" height="92" title="{{ title }}" class="album-cover-img" class="album-cover-img" type="button" class="btn" data-toggle="modal" data-target="#exampleModal" (click)="openModal(dir)"/>
            </div>
            <span class="" *ngFor="let file of tree_file | keyvalue">
                <span *ngIf="file.value.track">{{file.value.track}}  -  {{file.value.title}} ({{file.value.duration}})</span>
                <span *ngIf="!file.value.track">{{file.value.title}}</span>
                <br/>
            </span>

          </ng-container>
        </div>
        </ng-container>
        <ng-container *ngIf="dash">
          <div class="row">
           <div class="col-11 col-sm-10 col-md-9 col-lg-9 col-xl-9" id="div-randomset">
           <div style="max-width: 100px;" class="album-cover inline-block" *ngFor="let elem of list_dir_dash['randomset']" >
            <app-albumcell [album]="elem" [servicesBasePath]="servicesBasePath" [area]="active_area" [mpd_port]="settings.mpd_port"  (messageEvent)="processAlbumCellAction($event)"></app-albumcell>
          </div>
          <br/>
          <a href="#" (click)="newSet()"><mat-icon aria-hidden="false" aria-label="fav" title="new set" class="large material-icons">sync</mat-icon></a>
         

          <hr>
          <div style="max-width: 100px;" class="album-cover inline-block" *ngFor="let elem of list_dir_dash['favourites']" >
            <app-albumcell [album]="elem" [servicesBasePath]="servicesBasePath" [area]="active_area" [mpd_port]="settings.mpd_port"  (messageEvent)="processAlbumCellAction($event)"></app-albumcell>
          </div>


          </div>
           <div class="col-1 col-sm-2 col-md-3 col-lg-3 col-xl-3" id="div-history2">

          <div style="max-width: 100px;" class="album-cover inline-block" *ngFor="let elem of list_dir_dash['history']" >
            <app-albumcell [album]="elem" [servicesBasePath]="servicesBasePath" [area]="active_area" [mpd_port]="settings.mpd_port" (messageEvent)="processAlbumCellAction($event)"></app-albumcell>
          </div>
          </div>

          </div>
        </ng-container>

      </div>
    </div>
  </div>
</div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-bottom"><small>
      <a href="#">Back to top</a></small>
    </p>
  </div>
</footer>
</body>



