<div class="outer_shadow">
  <div class="album-cover-frame">
    <img src="{{ servicesBasePath }}/cover?mpd_port={{ mpd_port }}&directory={{ album.encoded }}" height="92" title="{{ album.name }} ({{ album.playhours }})" class="album-cover-img" type="button"  data-toggle="modal" data-target="#exampleModal" (click)="processAction('coverPress')" />
  </div>
  <div class="album-title">
    <span class="albumlink">
    <a href="#" class="togglestar albumlink" (click)="processAction('toggleFavourite')"><mat-icon aria-hidden="false" aria-label="fav" *ngIf="album.favourite">favorite</mat-icon><mat-icon aria-hidden="false" aria-label="fav" *ngIf="!album.favourite">favorite_border</mat-icon></a>
    <a href="#" class="play" (click)="processAction('openModal')" class="albumlink"><mat-icon aria-hidden="false" aria-label="fav">play_arrow</mat-icon></a>
    <a href="#" (click)="processAction('showDir')" title="{{ album.name }} ({{ album.playhours }})" class="albumlink">{{ album.short }} ({{ album.playhours }})</a>
    </span>
  </div>
</div>
