<body>
<main role="main">
<ul ngbNav #nav="ngbNav" [activeId]="3" class="navbar navbar-light navbar-expand-lg mg-3 justify-content-between">
  <li [ngbNavItem]="1">
    <span class="bg-light" type="button" (click)="showDir('.')">dir</span>&nbsp;&nbsp;
  </li>
  <li [ngbNavItem]="2">
    <span class="bg-light" type="button">dash</span>&nbsp;&nbsp;
  </li>
  <li [ngbNavItem]="3">
    <span *ngIf="currentsong['active']" >
     <span class="bg-light" type="button"  (click)="openStream()"><img class="mediabutton icc" [@loadingTrigger]="loading['kodiload'] ? 'loading' : 'normal'" src="assets/music-cd.svg" title="load stream" /></span>&nbsp;
        <span class="bg-light" type="button" (click)="stopStream()"><img class="mediabutton icc" [@loadingTrigger]="loading['kodistop'] ? 'loading' : 'normal'" src="assets/stop.svg" title="stop stream" /></span>&nbsp;
        <span class="bg-light" type="button" *ngIf="currentsong['next_state']" (click)="sendCommand(currentsong['next_state'])"><img class="mediabutton icc" src="assets/{{ currentsong['next_state'] }}.svg" title="{{ currentsong['next_title'] }}"/></span>&nbsp;
        <span class="bg-light" type="button"  (click)="sendCommand('stop')"><img  class="mediabutton icc" [@loadingTrigger]="loading['stop'] ? 'loading' : 'normal'" src="assets/stop.svg" title="stop"/></span>&nbsp;
        <span class="bg-light" type="button"  (click)="sendCommand('prev')" ><img class="mediabutton icc" [@loadingTrigger]="loading['prev'] ? 'loading' : 'normal'" src="assets/next.svg"  title="prev"  style="transform: rotate(180deg);"/></span>&nbsp;
        <span class="bg-light" type="button"  (click)="sendCommand('next')"><img class="mediabutton  icc" [@loadingTrigger]="loading['next'] ? 'loading' : 'normal'" src="assets/next.svg" title="next" /></span>&nbsp;
        <span class="bg-light" [@loadingTrigger]="loading['currentsong'] ? 'loading' : 'normal'" *ngIf="currentsong['track']" title="{{ currentsong['artist'] }} - {{ currentsong['album'] }} ({{currentsong['track']}}) {{ currentsong['title'] }}" (click)="updateCurrentSong()">{{currentsong['track']}} - </span>
        <span class="bg-light" [@loadingTrigger]="loading['currentsong'] ? 'loading' : 'normal'" title="{{ currentsong['artist'] }} - {{ currentsong['album'] }} ({{currentsong['track']}}) {{ currentsong['title'] }}" (click)="updateCurrentSong()">{{ currentsong['title_short'] }}</span>
  </span>
   <span class="bg-light" [@loadingTrigger]="loading['currentsong'] ? 'loading' : 'normal'" *ngIf="!currentsong['active']" (click)="updateCurrentSong()">not playing</span>&nbsp;&nbsp;
  </li>

  <li ngbNavItem class="ml-auto">
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>

  <!-- Step 2: Add the ngbCollapse directive to the element below. -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active" >
        <!-- Step 4: Close the menu when a link is clicked. -->
       <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" aria-label="Search" placeholder="search..." name="lookfor" #lookforbox [value]="lookfor" (input)="lookfor = $event.target.value; searchItem($event.target.value)" onfocus="this.select();" onmouseup="return false;">
      <img class="icc  my-2 my-sm-0" type="button" src="assets/settings.svg" title="settings" (click)="openSettings()" width="20px"/>
    </form>
      </li>
    </ul>
  </div>



  </li>
</ul>


<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-12" id="navarea">

        <span *ngFor="let elem of path">/<a href="#" (click)="showDir(elem.dir)">{{ elem.name }}</a></span>&nbsp;&nbsp;
        <a href="#" class="play" (click)="openModal(dir)" class="albumlink"><svg width="9px" height="9px" viewBox="0 0 31 31" xmlns="http://www.w3.org/2000/svg"><path d="M 1 1 L 1 30 L 30 15 z" fill="Black" stroke="Grey" stroke-width="2"/></svg></a>
        <span *ngIf="lookfor">&nbsp;&nbsp;|&nbsp;<a href="#" (click)="searchItem(lookfor)">{{ lookfor }}</a></span>

        <br/>
        <ng-container *ngIf="!showlist">
        <div style="max-width: 100px;" class="album-cover inline-block" *ngFor="let elem of list_dir" >
          <div class="outer_shadow">
            <div class="album-cover-frame">
              <img src="{{ servicesBasePath }}/cover?directory={{ tree_dir[elem].encoded }}" height="92" title="{{ tree_dir[elem].name }} ({{ tree_dir[elem].playhours }})" class="album-cover-img" type="button" class="btn" data-toggle="modal" data-target="#exampleModal" (click)="coverPress(tree_dir[elem].name)" />
            </div>
            <div class="album-title">
              <span class="albumlink">
              <a href="#" class="togglestar albumlink">☐</a>
              <a href="#" class="play" (click)="openModal(tree_dir[elem].name)" class="albumlink"><svg width="9px" height="9px" viewBox="0 0 31 31" xmlns="http://www.w3.org/2000/svg"><path d="M 1 1 L 1 30 L 30 15 z" fill="Black" stroke="Grey" stroke-width="2"/></svg></a>
              <a href="#" (click)="showDir(tree_dir[elem].name)" title="{{ tree_dir[elem].name }} ({{ tree_dir[elem].playhours }})" class="albumlink">{{ tree_dir[elem].short }} ({{ tree_dir[elem].playhours }})</a>
              </span>
            </div>
          </div>
        </div>
        </ng-container>
        <ng-container *ngIf="showlist">
        <span *ngFor="let initial of list_alpha">
          <b>{{ initial }}</b><br/>
        <span *ngFor="let elem of list_dir_alpha[initial]">
            <a href="#" id="togglestar" onclick="" title="mark" class="albumlink">☐</a>&nbsp;
            <a href="#" class="play" (click)="openModal(tree_dir[elem].name)" class="albumlink"><svg width="9px" height="9px" viewBox="0 0 31 31" xmlns="http://www.w3.org/2000/svg"><path d="M 1 1 L 1 30 L 30 15 z" fill="Black" stroke="Grey" stroke-width="2"/></svg></a>
              <a href="#" (click)="showDir(tree_dir[elem].name)" title="{{ tree_dir[elem].name }} ({{ tree_dir[elem].playhours }})" class="albumlink">{{ tree_dir[elem].title }} ({{ tree_dir[elem].playhours }})</a>
        </span>
        <br/>
        </span>
        </ng-container>

        <div id="files">
          <ng-container *ngIf="!dirs">
            <div class="album-cover-frame">
              <img  src="{{ servicesBasePath }}/cover?directory={{ encoded }}" height="92" title="{{ title }}" class="album-cover-img" class="album-cover-img" type="button" class="btn" data-toggle="modal" data-target="#exampleModal" (click)="openModal(dir)"/>
            </div>
            <span class="" *ngFor="let file of tree_file | keyvalue">
                <span *ngIf="file.value.track">{{file.value.track}}  -  {{file.value.title}} ({{file.value.duration}})</span>
                <span *ngIf="!file.value.track">{{file.value.title}}</span>
                <br/>
            </span>

          </ng-container>
        </div>



      </div>
    </div>
  </div>
</div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>
</body>



